{% extends 'base.html' %}

{% block title %}Edit post{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Meets</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'meet_boards' post.topic.board.meet.pk %}">{{ post.topic.board.meet.meet_name }}</a></li>
  <li class="breadcrumb-item active"><a href="{% url 'board_topics' post.topic.board.meet.pk post.topic.board.pk %}">{{ post.topic.board.name }}</a></li>
  <li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-success">Save changes</button>
    <a href="{% url 'topic_posts' post.topic.board.meet.pk post.topic.board.pk post.topic.pk %}" class="btn btn-outline-secondary" role="button">Cancel</a>
  </form>
{% endblock %}
